<a href="https://colab.research.google.com/github/derkiab/Topicos-en-procesamiento-digital-de-senales-imagenes-y-espectros/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('datasetnormalized80.csv', sep=';')
dataset

,agua domo n,eficiencia n,flujo aire n,flujo gas n,flujo petroleo n,Flujo vapor n,O2 n,Presion general n,Presion vapor n
0,0,"0,752021182","0,809979712","0,884609892","0,650793651","0,802833137","0,163768758","0,175553977","0,200520434"
1,"0,004687784","0,587610687","0,733823403","0,753106107","0,650793651","0,626506688","0,243998228","0,742155007","0,741882186"
2,"0,005413244","0,546342068","0,834019223","0,691745609","0,6","0,578449771","0,387113853","0,484748868","0,480948761"
3,"0,007366534","0,603889339","0,733542677","0,748298186","0,650793651","0,643467963","0,20070609","0,756199282","0,755807443"
4,"0,014063297","0,575687954","0,737248261","0,75762841","0,650793651","0,6141391","0,273609884","0,727013703","0,725600825"
...,...,...,...,...,...,...,...,...,...
53681,"0,875706152","0,300121153","0,805711324","0,514411598","0,815873016","0,354718143",0,"0,104205911","0,087934765"
53682,"0,902643701","0,390464786",1,"0,387062708","0,815873016","0,453676627","0,830896104","0,173544446","0,171024168"
53683,"0,956024285","0,404622929","0,993864657","0,394892179","0,815873016","0,469261651","0,63892321","0,188501222","0,182739053"
53684,"0,982600772","0,367671861","0,998402543","0,515045249","0,815873016","0,428821584","0,069240954","0,145344165","0,133537461"
53685,1,"0,418738637","0,999853481","0,479506831","0,815873016","0,484809472","0,378596655","0,179504035","0,172027704"

In [22]:


Y = pd.DataFrame(dataset.iloc[:,1])

Y

      eficiencia n
0      0,752021182
1      0,587610687
2      0,546342068
3      0,603889339
4      0,575687954
...            ...
53681  0,300121153
53682  0,390464786
53683  0,404622929
53684  0,367671861
53685  0,418738637

[53686 rows x 1 columns]

In [23]:
X = pd.DataFrame(dataset.iloc[:, [0, 2, 3, 4, 5, 6, 7]])
X

,agua domo n,flujo aire n,flujo gas n,flujo petroleo n,Flujo vapor n,O2 n,Presion general n
0,0,"0,809979712","0,884609892","0,650793651","0,802833137","0,163768758","0,175553977"
1,"0,004687784","0,733823403","0,753106107","0,650793651","0,626506688","0,243998228","0,742155007"
2,"0,005413244","0,834019223","0,691745609","0,6","0,578449771","0,387113853","0,484748868"
3,"0,007366534","0,733542677","0,748298186","0,650793651","0,643467963","0,20070609","0,756199282"
4,"0,014063297","0,737248261","0,75762841","0,650793651","0,6141391","0,273609884","0,727013703"
...,...,...,...,...,...,...,...
53681,"0,875706152","0,805711324","0,514411598","0,815873016","0,354718143",0,"0,104205911"
53682,"0,902643701",1,"0,387062708","0,815873016","0,453676627","0,830896104","0,173544446"
53683,"0,956024285","0,993864657","0,394892179","0,815873016","0,469261651","0,63892321","0,188501222"
53684,"0,982600772","0,998402543","0,515045249","0,815873016","0,428821584","0,069240954","0,145344165"
53685,1,"0,999853481","0,479506831","0,815873016","0,484809472","0,378596655","0,179504035"